*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html, body{
 height: 100%;
 width: 100%;
}
#main{
    position: relative;
    /* overflow: hidden; */
}
#page{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: magenta;
}
#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: mediumslateblue;
}
#page>canvas{
    width: 100vw;
    height: 1000vh;
    position: relative;
}